img {
  width: 100%;
  height: auto;
}

* {
  line-height: 1.7;
  font-family: 'Shippori Mincho' serif;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.header {
  height: 70px;
  line-height: 70px;
  text-align: right;
}

.header__logo {
  font-size: 40px;
  font-family: 'Amatic SC', cursive;
  color: #55bbbb;
  padding-right: 40px;
}

.firstview {
  background: url(../img/fv.png)no-repeat;
  background-size: cover;
  background-position: bottom right;
}

.firstview__inner {
  margin: 0 40px;
}

.firstview__catchcopy {
  font-size: 40px;
}

.copy-emphasis {
  font-size: 64px;
}

.change-clr {
  color: #55bbbb;
}

.mgl-40 {
  margin-left: -40px;
}

.firstview__price {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.firstview__price-circle {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: #ff4384;
  text-align: center;
  color: #fff;
  line-height: 100px;
  font-size: 26px;
  margin-right: 20px;
}

.firstview__price-content-ttl {
  color: #55bbbb;
  font-size: 18px;
}

.firstview__price-content-txt {
  color: #55bbbb;
  font-size: 18px;
}

.firstview__price-content-txt--big {
  font-size: 47px;
  line-height: 1;
}

.firstview__cta {
  padding: 20px 40px;
  background: #ff4384;
  color: #fff;
  border-radius: 40px;
  display: inline-block;
  text-decoration: none;
  font-size: 26px;
  margin: 40px 0;
  box-shadow: 0 0 15px #ff4384;
}

.trouble__ttl {
  font-size: 26px;
  color: #fff;
  text-align: center;
  background: #55bbbb;
  padding: 20px 0;
  position: relative;
}

.trouble__ttl::before {
  position: absolute;
  top: 100%;
  left: 50%;
  content: "";
  margin-left: -40px;
  border: 40px solid transparent;
  border-top: 30px solid #55bbbb;
}

.trouble__ttl-emphasis {
  font-size: 40px;
}

.trouble-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.trouble-content__ul {
  padding: 40px;
  border: 1px solid #55bbbb;
  border-radius: 30px;
  margin: 0 0 60px 40px;
}

.trouble-content__list {
  font-size: 26px;
  color: #55bbbb;
  border-bottom: 1px solid #55bbbb;
  list-style: none;
  margin-bottom: 20px;
  position: relative;
  padding-left: 40px;
}

.trouble-content__list::before {
  position: absolute;
  top: 10px;
  left: 0;
  width: 27px;
  height: 24px;
  content: "";
  background: url(../img/check.svg)no-repeat;
  background-size: cover;
}

.trouble-content__list:last-child {
  margin-bottom: 0;
}

.solution__ttl {
  padding: 40px;
  text-align: center;
  background: #55bbbb;
  font-size: 26px;
  color: #fff;
}

.solution__ttl-logo {
  font-size: 40px;
  font-family: 'Amatic SC, cursive';
  color: #fff;
}

.solution__ttl-emphasis {
  font-size: 40px;
}

.pink-clr,.solution-content__item-ttl-emphasis {
  color: #ff4384;
}

.solution-content {
  max-width: 1000px;
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
}

.solution-content__item {
  width: 30%;
  border: 1px solid #55bbbb;
  padding: 10px;
}

.solution-content__item-point {
  position: relative;
  top: -25px;
  left: 10px;
  background: #fff;
  font-size: 26px;
  color: #55bbbb;
  display: inline-block;
  padding: 0 5px;
  line-height: 1;
  font-family: 'Amatic SC,cursive';
}

.solution-content__item-ttl {
  font-size: 26px;
  margin-bottom: 20px;
}

.footer small {
  height: 70px;
  line-height: 70px;
  text-align: center;
  display: block;
}